# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Migrations
**/migrations

# Ignorar archivos de caché de Python
**/__pycache__/
*.pyc

# Ignorar la carpeta data en cualquier lugar
data/
**/data/
data/**