body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed; /* Fija el fondo */
    overflow-x: hidden;
  }

/* Estilos generales del header */
.header {
    background-color: #5B7D83; 
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Contenido dentro del header */
.header-content {
    display: flex
;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 50px;
}

.header-title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

/* Logo del header */
.header-logo {
    display: flex;
    justify-content: center; 
    width: 100%;
}

/* Estilo para la imagen del logo */
.header-logo-image {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.header-logo-image:hover {
    transform: scale(1.1); 
}

.user-avatar1 {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.user-avatar1:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

.header-user {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-direction: row;
    max-width: 1000px;
    width: 220px;
    gap: 20px;
}

.logout-text {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 16px;
}

.logout-text:hover {
    color: #c5c5c5;
}